/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #f857a6, #ff5858);
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
#app-container {
  width: 70vw;
  background: white;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
