.listContainer {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.taskContainer {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.strikethrough {
  text-decoration: line-through;
}
